
/* this is the color in our logo, please use this
   for styling:

   #aaccff (blueish)
   #9ee493 (greenish)
   #373e48 (blackish)
   #F2F5Fa (whiteish)
*/

html, body {
    padding: 0;
    margin: 0;
}

html, body, input, button {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    color: #373e48ff;
    background-color: #f2F5FA;
}


.clear {
    clear: both;
}

.container {
   width: 36em;
   margin: auto;
   padding-right: 2em;
   padding-left: 2em;
}


#header {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.25em solid #373e48ff;
}

#header .logo {
    display: block;
    float: left;
}

#header .headline {
    font-style: italic;
    text-align: right;
}

#content {
    margin-bottom: 2em;
}

#footer {
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #aaccffff;
    border-top: 0.25em solid #373e48ff;
}

#footer .module {
    display: inline-block;
    float: left;
}
#footer .author {
    text-align: right;
}

form .field {
    display: block;
    margin-top: 0.5em;
}

form .field label {
    display: block;
    float: left;
    width: 10em;
}

form .field input, form .field button {
    border: 0.075em solid #373e48ff;
    background-color: #ffffff;
    padding: 0.25em 0.25em;
    margin: 0;
}

form .field input[type=button], form .field input[type=submit] {
    display: block;
    margin-left: 10em;
    background-color: #aaccffff;
    border: 0;
    outline: 0.075em solid #373e48ff;
    box-shadow: 0.25em 0.25em 0.075em #373e48ff;
    padding: 0.25em 1em;
}


form .field input[type=button]:hover, form .field input[type=submit]:hover {
    background-color: #9ee493;
}


form .field button:active, form .field input[type=submit]:active {
    background-color: #9ee493;
    margin-top: 0.125em;
    text-shadow: 0em 0em 0.25em #373e48ff;
}


@media only screen and (max-width: 640px) {
    .container {
        width: calc(100% - 4em);
    }

    form .field label {
        width: auto;
        float: none;
    }

    form .field input[type=button], form .field input[type=submit] {
        margin-left: 0;
    }
}

/* widgets */

#message {
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 5px;
}

.hide {
    display: none;
}

#message.error {
    border: 2px solid #ff4d4d;
    background-color: #ffcccc;
}

#message.success {
    border: 2px solid #267326;
    background-color: #c6ecc6;
}
